{
    "name": "{{#composerVendorName}}{{.}}{{/composerVendorName}}{{^composerVendorName}}{{gitUserId}}{{/composerVendorName}}/{{#composerProjectName}}{{.}}{{/composerProjectName}}{{^composerProjectName}}{{gitRepoId}}{{/composerProjectName}}",
    {{#artifactVersion}}
    "version": "{{artifactVersion}}",
    {{/artifactVersion}}
    "type": "library",
    "license": "MIT",
    "description": "The GmodStore PHP SDK for communication with the GmodStore API through PHP",
    "keywords": [
        "gmodstore",
        "php",
        "sdk",
        "api"
    ],
    "homepage": "https://github.com/Everyday-AS/gmodstore-php-sdk",
    "authors": [
        {
            "name": "Everyday AS and contributors",
            "email": "system@everyday.no",
            "homepage": "https://everyday.no"
        }
    ],
    "require": {
        "php": ">=5.5",
        "ext-curl": "*",
        "ext-json": "*",
        "ext-mbstring": "*",
        "guzzlehttp/guzzle": "^6.2"
    },
    "autoload": {
        "psr-4": { "{{escapedInvokerPackage}}\\" : "{{srcBasePath}}/" }
    },
}
