{
    "name": "{{gitUserId}}/{{gitRepoId}}",
    {{#artifactVersion}}
    "version": "{{artifactVersion}}",
    {{/artifactVersion}}
    "description": "{{{appDescription}}}",
    "keywords": [
        "gmodstore",
        "php",
        "sdk",
        "rest",
        "api"
    ],
    "homepage": "https://github.com/everyday-as/gmodstore-php-sdk",
    "license": "MIT",
    "authors": [
        {
            "name": "Everyday AS and contributors",
            "email": "system@everyday.no",
            "homepage": "https://everyday.no"
        }
    ],
    "require": {
        "php": "^7.3 || ^8.0",
        "ext-curl": "*",
        "ext-json": "*",
        "ext-mbstring": "*",
        "guzzlehttp/guzzle": "^7.3",
        "guzzlehttp/psr7": "^2.0"
    },
    "require-dev": {
        "phpunit/phpunit": "^8.0 || ^9.0",
        "friendsofphp/php-cs-fixer": "^2.12"
    },
    "autoload": {
        "psr-4": { "{{escapedInvokerPackage}}\\" : "{{srcBasePath}}/" }
    },
    "autoload-dev": {
        "psr-4": { "{{escapedInvokerPackage}}\\Test\\" : "{{testBasePath}}/" }
    }
}